body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.main {
    margin: 2em 1em
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;

    top: 50%;
    right: 0;

    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 

    border-right : 24px solid red;
}

.canvasContainer {
    position: relative;
}

#wheelCanvas {
    width: 97%;
}

#result {
    margin-top: 20px;
}