body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.main {
    margin-top: 2em
}

#canvasContainer {
    position: relative;
    margin: 20px auto;
}

#wheelCanvas {
    width: 95%;
}

#result {
    margin-top: 20px;
}