body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.main {
    margin: 2em 1em
}

.canvasContainer {
    position: relative;
    margin: auto;
    width: min(70vh, 90vw);
    height: min(70vh, 90vw);
}

#wheelCanvas {
    width: 100%;
}

#result {
    margin-top: 20px;
}